<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="FlashcardsDB"
			 connectionString="Data Source=DESKTOP-L2CUOSF\MSSQLSERVER01;Initial Catalog=FlashcardsDB;Integrated Security=True;Encrypt=False;TrustServerCertificate=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>

