<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="FlashcardsDB"
			 connectionString="Data Source=DESKTOP-KIRL4P4;Initial Catalog=FlashcardsDB;Integrated Security=True;Encrypt=False;Trust Server Certificate=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>