<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="FlashcardsDB"
			 connectionString="Data Source=LAPTOP-CN5T4MQA\SQLEXPRESS;Initial Catalog=FlashcardsDB;Integrated Security=True;Connect Timeout=30;Encrypt=False;Trust Server Certificate=False;Application Intent=ReadWrite;Multi Subnet Failover=False"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>